[Unit]
Description=Automatically register for a gym slot
StartLimitBurst=12
StartLimitIntervalSec=6hours

[Service]
Type=simple
ExecStart=/usr/bin/uiowa-gym
Restart=on-failure
RestartSec=30min
