[Unit]
Description=Automatically grab gym slots on Sunday, Tuesday, Thursday

[Timer]
OnCalendar=Sun,Tue,Thu 05:00
Persistent=true
Unit=uiowa_gym.service

[Install]
WantedBy=timers.target
